<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oym.auth.dao.AuthenticationDao">

    <select id="getUserByUsername" resultType="com.oym.auth.entity.SysUserAuthentication">
        SELECT
            su.id,
            su.org_id,
            su.username,
            su.`password`,
            su.account_non_expired,
            su.account_non_locked,
            su.credentials_non_expired,
            su.`enable`,
            su.delete_status,
            su.mobile,
            su.email,
            su.remark,
            su.gmt_create,
            su.gmt_modified
        FROM
            sys_user AS su
        WHERE
            su.username = #{value}
    </select>

    <select id="getClientByClientId" resultType="com.oym.auth.entity.SysClientAuthentication">
        SELECT
            sc.`id`,
            sc.client_id,
            sc.client_name,
            sc.resource_ids AS resourceIdStr,
            sc.client_secret,
            sc.scope AS scopeStr,
            sc.authorized_grant_types AS authorizedGrantTypesStr,
            sc.web_server_redirect_uri,
            sc.web_server_redirect_uri,
            sc.access_token_validity,
            sc.refresh_token_validity,
            sc.additional_information,
            sc.autoapprove,
            sc.gmt_create
        FROM
            sys_client AS sc
        WHERE
            sc.client_id = #{value}
    </select>

</mapper>