<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cn.zyd.auth.dao.GrantedAuthorityDao">

    <select id="listGrantedByUserId" resultType="com.cn.zyd.auth.entity.SysGrantedAuthority">
        SELECT
            sr.role_sign AS authority
        FROM
            sys_user_role AS sur
            INNER JOIN sys_role AS sr ON sur.role_id = sr.id
        WHERE
            sur.user_id = #{value}
    </select>

    <select id="listGrantedByClientId" resultType="com.cn.zyd.auth.entity.SysGrantedAuthority">
        SELECT
            sr.role_sign AS authority
        FROM
            sys_client_role AS scr
            INNER JOIN sys_role AS sr ON scr.role_id = sr.id
        WHERE
            scr.client_id = #{value}
    </select>
</mapper>